src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd"
>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b43ab68-dcb4-4612-95d7-8e62be637065" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="2f32527f-4444-4ec0-9c97-b929128723f1" >
		<db:my-sql-connection host="mudb.mule-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="postFlights" doc:id="bf9bb575-0427-4afe-8f16-f81e2f0ec548" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="506a2604-6fa3-4988-bbcc-f062c71042a9" />
	</flow>
	<flow name="getFlights" doc:id="4ad66290-c943-45d9-8ed2-c45b4af5a374" >
		<db:select doc:name="Select" doc:id="b17829e6-5163-4b1b-9a57-9ef8dc9afb81" config-ref="Database_Config1">
			<db:sql ><![CDATA[SELECT * 
FROM american]]></db:sql>
		</db:select>
	  <set-payload value="#[output application/json ---
payload map (payload01 , indexOfPayload01 ) -> {
    ID: payload01.ID,
    code: (payload01.code1 default '') ++ (payload01.code2 default ''),
    price: payload01.price default 0,
    departureDate: payload01.takeOffDate as String default '',
    origin: (payload01.fromAirport default ''),
    destination: payload01.toAirport default '',
    emptySeats: payload01.seatsAvailable default 0,
    plane: {
        'type': payload01.planeType default '',
        totalSeats: payload01.totalSeats default 0
    }

}]"/>

	</flow>
	<flow name="getFlightsByID" doc:id="9b334b6b-eb65-424c-adb7-60607ccdb703" >
	<set-variable variableName="flightID" value="#[vars.ID default attributes.uriParams.ID]" doc:name="Set flightID Variable"/>
	
		<db:select doc:name="Select" doc:id="f8ab44b5-f377-4069-a3e1-a7120112f06f" config-ref="Database_Config1" >
			<db:sql ><![CDATA[SELECT * 
FROM american 
WHERE ID= :flightID]]></db:sql>
			 <db:input-parameters ><![CDATA[#[{'flightID' : vars.flightID}]]]></db:input-parameters>
		</db:select>
		  <set-payload value="#[output application/json ---
payload map (payload01 , indexOfPayload01 ) -> {
    ID: payload01.ID,
    code: (payload01.code1 default '') ++ (payload01.code2 default ''),
    price: payload01.price default 0,
    departureDate: payload01.takeOffDate as String default '',
    origin: (payload01.fromAirport default ''),
    destination: payload01.toAirport default '',
    emptySeats: payload01.seatsAvailable default 0,
    plane: {
        'type': payload01.planeType default '',
        totalSeats: payload01.totalSeats default 0
    }
}]"/>
	</flow>
</mule>

