src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

    <apikit:config name="american-flights-api-config" api="resource::23837aa4-60c9-426f-92b0-e02d6e8da029:american-flights-api:1.0.2:raml:zip:american-flights-api.raml"
        outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

    <flow name="american-flights-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="american-flights-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-payload value="#[output application/json
                ---
                { message: 'Bad request' }]" />
                <set-variable variableName="httpStatus" value="400" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="#[output application/json
                ---
                { message: 'Resource not found' }]" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-payload value="#[output application/json
                ---
                { message: 'Method not allowed' }]" />
                <set-variable variableName="httpStatus" value="405" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-payload value="#[output application/json
                ---
                { message: 'Not acceptable' }]" />
                <set-variable variableName="httpStatus" value="406" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-payload value="#[output application/json
                ---
                { message: 'Unsupported media type' }]" />
                <set-variable variableName="httpStatus" value="415" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-payload value="#[output application/json
                ---
                { message: 'Not Implemented' }]" />
                <set-variable variableName="httpStatus" value="501" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="american-flights-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="american-flights-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="#[output application/json
                ---
                { message: 'Resource not found' }]" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="delete:\flights\(ID):american-flights-api-config">
        <set-variable variableName="ID" value="#[attributes.uriParams.'ID']" />
        <set-payload value="#[output application/json
        ---
        {
            message: 'Flight deleted (but not really)'
        }]" />
    </flow>

    <flow name="get:\flights:american-flights-api-config">
        <flow-ref doc:name="getFlights" doc:id="7d49c618-1bd0-4818-aa52-31301c16d3b7" name="getFlights" />
    </flow>

    <flow name="get:\flights\(ID):american-flights-api-config">
        <flow-ref doc:name="getFlightsByID" doc:id="b1ebf611-a368-4083-b484-b8f9591ffe76" name="getFlightsByID" />
    </flow>

    <flow name="post:\flights:application\json:american-flights-api-config">
        <set-payload value="#[output application/json
        ---
        {
            message: 'Flight added (but not really)'
        }]" />
    </flow>

    <flow name="put:\flights\(ID):application\json:american-flights-api-config">
        <set-variable variableName="ID" value="#[attributes.uriParams.'ID']" />
        <set-payload value="#[output application/json
        ---
        {
            message: 'Flight updated (but not really)'
        }]" />
    </flow>

</mule>

