project/target/classes/project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ad3873f-c2c7-4699-81eb-7cff98c7d992" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="projectFlow" doc:id="d1f3aff5-fe15-4d36-b992-bf124146b3ec" >
		<http:listener doc:name="Listener" doc:id="cce06460-7dfe-4d15-973b-90e66088617c" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="bonjour" doc:name="Set Payload" doc:id="54e33d4e-8d06-4f7f-9321-a5a53fdb39a1" />
		<logger level="INFO" doc:name="Logger" doc:id="57a5f2f1-ec33-4485-a638-f00ed11c37da" message="#[payload]"/>
	</flow>
</mule>
